#titre{position:absolute; 
  top=0;
  color: #501537;
  font-family: Gill Sans Extrabold, sans-serif;
  left:10%;
  width:80%;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 80%;
  background-color:#DBDBDB;
  text-align: center;}

#map{position:absolute; 
  left:10%; 
  top:80px; 
  bottom:0; 
  width:80%;}


h1 {
  color: #501537;
  font-family: Gill Sans Extrabold, sans-serif;
}


h2 {
  color: #501537;
  font-family: Gill Sans Extrabold, sans-serif;
}